<div id="page-card" class="card text-center m-4 shadow rounded">
  <div class="card-body">
    The Tech Blog
  </div>
</div>

<div class="container-fluid py-2">
  <div id="post-card" class="card m-4 border-4">

    <div id="pc-title" class="card-title px-3">
      Login
    </div>

    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        </br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
          <small id="passwordHelp" class="form-text text-muted">Password length must be at least 8 characters.</small>
        </div>
        </br>
        <button type="submit" class="btn login-btn btn-lg">Login</button>
        </br></br>
        <a class="sign-up-link">Sign Up Instead</a>
      </form>

    </div>

  </div>
</div>