:root {
    --purple: #3b1a51;
    --green: #b5decb;
}

body {
    background-color: var(--purple);
    color: var(--green);
    font-family: 'Raleway', sans-serif;
}

nav ul {
    padding: 0px;
}

nav ul li{
    display: inline;
    padding-right: 20px;
}

nav ul li a {
    color: var(--green);
    font-size: 1.5rem;
    text-decoration: none;
}

#page-card {
    font-size: 2rem;
    width: 18rem;
    background-color: var(--green);
    color: var(--purple);
    font-weight: bold;
}

.green-container {
    background-color: var(--green);
    color: var(--purple);
}

.purple-container {
    background-color: var(--purple);
    color: var(--green);
}

#post-card {
    font-size: 1rem;
    background-color: var(--green);
    color: var(--purple);
}

#pc-title,
#db-title {
    font-size: 2rem;
    background-color: var(--purple);
    color: var(--green);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dashboard-card {
    font-size: 2rem;
    background-color: var(--purple);
    color: var(--green);
    font-weight: bold;
    display: flex;
}

span {
    font-size: 1rem;
}

label {
    font-size: 1.3rem;
}

.login-btn,
.signup-btn,
.newpost-btn {
    background-color: var(--purple);
    color: var(--green);
    font-size: 1.3rem;
}

/* .newpost-btn {
    background-color: var(--green);
    color: var(--purple);
    font-size: 2rem;
} */

.sign-up-link,
.login-link {
    font-size: 1.3rem;
    color: var(--purple);
    text-decoration: none;
}
