:root {
    --purple: #3b1a51;
    --green: #b5decb;
}

body {
    background-color: var(--purple);
    color: var(--green);
}

/* nav {
    width: 25%; 
    max-width: 500px;
    display: flex;
    justify-content: space-between;
} */

a {
    color: var(--green);
    font-size: 1.5rem;
}

.card {
    font-size: 2rem;
    width: 16rem;
    background-color: var(--green);
    color: var(--purple);
    font-weight: bold;
}

.container-fluid {
    background-color: var(--green);
    color: var(--purple);
}